<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Patients</span>
                    <div class="text-900 font-medium text-xl">{{patients.length}} </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-user text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">since last month</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Revenue</span>
<!--                    <div class="text-900 font-medium text-xl">$2.100</div>-->
                    <div class="text-900 font-medium text-xl">{{_revenu}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-dollar text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">since last week</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Rendez-vous</span>
                    <div class="text-900 font-medium text-xl">{{rdvs.length}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-clock text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">520  </span>
            <span class="text-500">newly registered</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Consultations </span>
                    <div class="text-900 font-medium text-xl">{{consultations.length}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-check-square text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">85 </span>
            <span class="text-500">responded</span>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Les nouveaux patients</h5>
            <p-table #dt [value]="patients" [columns]="cols" [rows]="4" [paginator]="true"
                     [globalFilterFields]="['cin', 'nom', 'prenom', 'dateNaissance']"
                     [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [showCurrentPageReport]="false">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="cin">CIN
                            <p-sortIcon field="cin"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nom">Nom
                            <p-sortIcon field="nom"></p-sortIcon>
                        </th>
                        <th pSortableColumn="prenom">Prenom
                            <p-sortIcon field="prenom"></p-sortIcon>
                        </th>
<!--                        <th pSortableColumn="dateNaissance">Date De Naissance-->
<!--                            <p-sortIcon field="dateNaissance"></p-sortIcon>-->
<!--                        </th>-->
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-patient>
                    <tr>
                        <td style="width:14%;">{{patient.cin}}</td>
                        <td style="width:14%;">{{patient.nom}}</td>
                        <td style="width:14%;">{{patient.prenom}}</td>
<!--                        <td style="width:14%;">{{patient.dateNaissance | date:'dd-M-yyyy' }}</td>-->
                    </tr>
                </ng-template>

            </p-table>
        </div>

        <div class="card">
            <h5>Prochains Rendez-vous</h5>
            <p-table #dt [value]="rdvs" [columns]="cols" [rows]="4" [paginator]="true"
                     [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [showCurrentPageReport]="false">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="code">Numero
                            <p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Date
                            <p-sortIcon field="dateRdv"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Patient
                            <p-sortIcon field="patient"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rdv>
                    <tr>
                        <td>{{rdv.numeroRdv}}</td>
                        <td>{{rdv.dateRdv | date:'dd-M-yyyy' }}</td>
                        <td>{{rdv.patientVo?.cin}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Statistique des patient</h5>
            </div>
            <ul class="list-none p-0 m-0">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Patients masculins</span>
                    </div>
                    <div class="mt-2 md:mt-0 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                             [ngStyle]="{height: '8px'}">
                            <div class="bg-orange-500 h-full" [ngStyle]="{width: '50%'}"></div>
                        </div>
                        <span class="text-orange-500 ml-3 font-medium">%50</span>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Patientes</span>
                    </div>
                    <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                             [ngStyle]="{height: '8px'}">
                            <div class="bg-cyan-500 h-full" [ngStyle]="{width: '16%'}"></div>
                        </div>
                        <span class="text-cyan-500 ml-3 font-medium">%16</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Notifications</h5>
                <div>
                    <button pButton type="button" icon="pi pi-ellipsis-v"
                            class="p-button-rounded p-button-text p-button-plain"
                            (click)="menu.toggle($event)"></button>
                    <p-menu #menu [popup]="true"></p-menu>
                </div>
            </div>

            <span class="block text-600 font-medium mb-3">TODAY</span>
            <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-dollar text-xl text-blue-500"></i>
                    </div>
                    <span class="text-900 line-height-3">Richard Jones
                    <span class="text-700"> has purchased a blue t-shirt for <span
                        class="text-blue-500">79$</span></span>
                </span>
                </li>

                <li class="flex align-items-center py-2">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-download text-xl text-orange-500"></i>
                    </div>
                    <span class="text-700 line-height-3">Your request for withdrawal of <span
                        class="text-blue-500 font-medium">2500$</span> has been initiated.</span>
                </li>
            </ul>

            <span class="block text-600 font-medium mb-3">YESTERDAY</span>
            <ul class="p-0 m-0 list-none">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-dollar text-xl text-blue-500"></i>
                    </div>
                    <span class="text-900 line-height-3">Keyser Wick
                    <span class="text-700"> has purchased a black jacket for <span
                        class="text-blue-500">59$</span></span>
                </span>
                </li>
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-question text-xl text-pink-500"></i>
                    </div>
                    <span class="text-900 line-height-3">Jane Davis
                    <span class="text-700"> has posted a new questions about your product.</span>
                </span>
                </li>
            </ul>
        </div>

    </div>
</div>
