<p-dialog [(visible)]="createConsultationDialog" [style]="{width: '70vw', height: '80vh'}"
          header="Ajouter une consultation" [modal]="true" class="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Consultation">
<!--                <div class="field">-->
<!--                    <label for="1">Reference <span style="color: red;"> *</span></label>-->
<!--                    <input type="text" pInputText id="1" placeholder="Reference"-->
<!--                           [(ngModel)]="selectedConsultation.reference" required autofocus-->
<!--                           [ngClass]="{'ng-invalid ng-dirty' : !validConsultationReference}"/>-->
<!--                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedConsultation.reference">Reference is-->
<!--                        required.</small>-->
<!--                </div>-->

                <div class="field">
                    <label for="2">Date de la consultation<span style="color: red;"> *</span></label>
                    <p-calendar id="2" placeholder="YYYY/MM/DD" [showIcon]="true" id="2"
                                [showButtonBar]="true" [(ngModel)]="selectedConsultation.dateConsultation"
                                dateFormat="{{dateFormat}}"
                                [ngClass]="{'ng-invalid ng-dirty' : !validConsultationDateConsultation}">
                    </p-calendar>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedConsultation.dateConsultation">Date est obligatoire.</small>
                </div>

                <div class="field">
                    <label for="3">Montant <span style="color: red;"> *</span></label>
                    <p-inputNumber class="p-mb-2 p-mr-2" id="3" placeholder="Montant"
                                   [(ngModel)]="selectedConsultation.tarif"
                                   [ngClass]="{'ng-invalid ng-dirty' : !validPaiementMontant}" [showButtons]="true"
                                   [min]="0" [disabled]="true">
                    </p-inputNumber>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedConsultation.tarif">Montant est obligatoire.</small>
                </div>

                <div class="p-fluid p-formgrid grid">
<!--                    <div class="field col-12 md:col-5">-->
<!--                        <label for="6">Type de Consultation<span style="color: red;"> *</span></label>-->
<!--                        <p-dropdown [options]="typeConsultations" [(ngModel)]="selectedConsultation.typeConsultationVo"-->
<!--                                    id="6" [filter]="true" filterMatchMode="contains" [showClear]="true"-->
<!--                                    optionLabel="libelle"-->
<!--                                    placeholder="Type consultation">-->
<!--                        </p-dropdown>-->
<!--                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedConsultation.patientVo">Type de consultation-->
<!--                            est obligatoire.</small>-->
<!--                    </div>-->

<!--                    <div class="field col-12 md:col-1">-->
<!--                        <button pButton pRipple type="button"-->
<!--                                icon="pi pi-plus" (click)="openCreatetypeConsultation('typeConsultation')"-->
<!--                                class="p-button-primary one-colonne-btn-success-align mt-4"></button>-->
<!--                    </div>-->

                    <div class="field col-12 md:col-5">
                        <label for="4">Patient<span style="color: red;"> *</span></label>
                        <p-dropdown [options]="patients" [(ngModel)]="selectedConsultation.patientVo"
                                    id="4" [filter]="true" filterMatchMode="contains" [showClear]="true"
                                    optionLabel="cin" placeholder="Patient"
                                    [ngClass]="{'ng-invalid ng-dirty' : !validConsultationPatient}">
                        </p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedConsultation.patientVo">Patient est obligatoire.</small>
                    </div>
                    <div class="field col-12 md:col-1">
                        <button pButton pRipple type="button"
                                icon="pi pi-plus" (click)="openCreatepatient('patient')"
                                class="p-button-primary one-colonne-btn-success-align mt-4"></button>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="Les constantes du patient">
                <p-tabView>
                    <p-tabPanel header="Création">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label>Constante</label>
                                <p-dropdown [options]="constantes"
                                            [(ngModel)]="selectedConstanteConsultations.constanteVo"
                                            id="4" [filter]="true" filterMatchMode="contains" [showClear]="true"
                                            optionLabel="libelle" placeholder="Constante">
                                </p-dropdown>
                            </div>
                            <div class="field col-12 md:col-6 mt-4">
                                <label></label>
                                <button pButton pRipple type="button"
                                        icon="pi pi-plus" (click)="openCreateconstante('constante')"
                                        class="p-button-primary"></button>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="2">Valeur</label>
                                <input class="p-mb-2 p-mr-2" type="text" pInputText
                                       placeholder="Valeur"
                                       id="5" [(ngModel)]="selectedConstanteConsultations.valeur"
                                       autofocus>
                            </div>
                            <label></label>
                            <div class="field col-12 md:col-2">
                                <button pButton pRipple type="button" class="p-button-success one-colonne-btn-success-align mt-4"
                                        label="OK" (click)="addConstanteConsultations()">
                                </button>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Liste">
                        <div class="card">
                            <p-table [value]="selectedConsultation.constanteConsultationsVo" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Constante</th>
                                        <th>Valeur</th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.constanteVo?.libelle}}</td>
                                        <td>{{p.valeur}}</td>
                                        <td>
                                            <button (click)="deleteConstanteConsultations(p)" pButton type="button"
                                                    icon="pi pi-times" class="p-button-rounded p-button-danger">
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </p-tabPanel>
                </p-tabView>
            </p-tabPanel>
        </p-tabView>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text p-button-secondary"
                (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>

    <app-constante-create></app-constante-create>
    <app-patient-create></app-patient-create>
    <app-type-consultation-create></app-type-consultation-create>

</p-dialog>
