<p-dialog [(visible)]="viewRdvDialog" [style]="{width: '450px'}" header="Details du Rendez-vous" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="2">Date Rdv</label>
            <p-calendar [showIcon]="true" id="2" [showButtonBar]="true" [(ngModel)]="selectedRdv.dateRdv"
                        dateFormat="{{dateFormat}}" [disabled]="true">
            </p-calendar>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12">
                <label for="2" class="field col-12">Patient</label>
                <p-dropdown [options]="patients" [(ngModel)]="selectedRdv.patientVo"
                            id="3" [filter]="true" filterMatchMode="contains"
                            [showClear]="true" optionLabel="cin" placeholder="Patient" [disabled]="true">
                </p-dropdown>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>

</p-dialog>
