<p-dialog [(visible)]="createCategorieMedicamentDialog" [style]="{width: '450px'}" header="Ajouter une categorie de medicaments" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="2">Libelle <span style="color: red;"> *</span></label>
            <input type="text" pInputText id="2" [(ngModel)]="selectedCategorieMedicament.libelle" required autofocus [ngClass]="{'ng-invalid ng-dirty' : !validCategorieMedicamentLibelle}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedCategorieMedicament.libelle">Reference is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-secondary" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>

</p-dialog>
