<p-dialog [(visible)]="editConstanteDialog" [style]="{width: '450px'}" header="Modifier la constante" [modal]="true"
          class="p-fluid">
    <ng-template pTemplate="content">
<!--        <div class="field">-->
<!--            <label for="1">Reference <span style="color: red;"> *</span></label>-->
<!--            <input type="text" pInputText id="1" [(ngModel)]="selectedConstante.reference" required autofocus/>-->
<!--        </div>-->

        <div class="field">
            <label for="2">Libelle <span style="color: red;"> *</span></label>
            <input type="text" pInputText id="2" [(ngModel)]="selectedConstante.libelle" required autofocus/>
<!--            <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedConstante.libelle">Libelle est obligatoire.</small>-->
        </div>

<!--        <div class="field">-->
<!--            <label for="3">Description</label>-->
<!--            <textarea id="3" pInputTextarea rows="5" cols="30" placeholder="Description"-->
<!--                      [(ngModel)]="selectedConstante.description"></textarea>-->
<!--        </div>-->
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text p-button-secondary"
                (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
    </ng-template>

</p-dialog>
