<p-dialog [(visible)]="viewOrdonnanceDialog" [style]="{width: '70vw', height: '80vh'}"
          header="Details de l'ordonnance" [modal]="true" class="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
<!--    <ng-template pTemplate="content">-->
<!--        <div class="card" id="print-section">-->
<!--            <div class="field">-->
<!--                <label for="1">Reference</label>-->
<!--                <input type="text" pInputText id="1" placeholder="Reference"-->
<!--                       [(ngModel)]="selectedOrdonnance.reference" [disabled]="true">-->
<!--            </div>-->

<!--            <div class="field">-->
<!--                <label for="2">Date d'ordonnance</label>-->
<!--                <p-calendar id="2" placeholder="Date d'ordonnance" [showIcon]="true" id="2"-->
<!--                            [showButtonBar]="true" [(ngModel)]="selectedOrdonnance.dateOrdonnance"-->
<!--                            dateFormat="{{dateFormat}}" [disabled]="true">-->
<!--                </p-calendar>-->
<!--            </div>-->

<!--            <div class="field">-->
<!--                <label for="4">Description</label>-->
<!--                <textarea id="4" pInputTextarea rows="5" cols="30" placeholder="Description" [(ngModel)]="selectedOrdonnance.description" [disabled]="true"></textarea>-->
<!--            </div>-->

<!--            <div class="p-fluid p-formgrid grid">-->
<!--                <div class="field col-12 md:col-6">-->
<!--                    <label for="6">Consultation</label>-->
<!--                    <p-dropdown [options]="consultations" [(ngModel)]="selectedOrdonnance.consultationVo"-->
<!--                                id="6" [filter]="true" filterMatchMode="contains" [showClear]="true"-->
<!--                                optionLabel="reference"-->
<!--                                placeholder="Consultation" [disabled]="true">-->
<!--                    </p-dropdown>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </ng-template>-->

    <ng-template pTemplate="content">
        <div class="card" id="print-section">
            <div class="field content-end">
                <p-calendar id="2" [showIcon]="true"
                            [showButtonBar]="false" [(ngModel)]="selectedOrdonnance.dateOrdonnance"
                            dateFormat="{{dateFormat}}" [disabled]="false">
                </p-calendar>
            </div>

<!--            <div class="field">-->
<!--                <label for="1">Reference</label>-->
<!--                <input type="text" pInputText id="1" placeholder="Reference"-->
<!--                       [(ngModel)]="selectedOrdonnance.reference" [disabled]="true">-->
<!--            </div>-->

            <div class="field">
                <textarea id="4" pInputTextarea rows="5" cols="30" [(ngModel)]="selectedOrdonnance.description"
                          [disabled]="false"></textarea>
            </div>

<!--            <div class="p-fluid p-formgrid grid">-->
<!--                <div class="field col-12 md:col-6">-->
<!--                    <label for="6">Consultation</label>-->
<!--                    <p-dropdown [options]="consultations" [(ngModel)]="selectedOrdonnance.consultationVo"-->
<!--                                id="6" [filter]="true" filterMatchMode="contains" [showClear]="true"-->
<!--                                optionLabel="reference"-->
<!--                                placeholder="Consultation" [disabled]="true">-->
<!--                    </p-dropdown>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Telecharger" icon="pi pi-download" class="p-button-text"
                printTitle="Ordonnance" printSectionId="print-section" ngxPrint></button>
<!--        <button pButton pRipple label="Telecharger" icon="pi pi-download" class="p-button-text"-->
<!--                (click)="downloadAsPDF()"></button>-->
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-secondary"
                (click)="hideViewDialog()"></button>
    </ng-template>

</p-dialog>
