<p-dialog [(visible)]="editOrdonnanceDialog" [style]="{width: '70vw', height: '80vh'}"
          header="Ajouter une consultation" [modal]="true" class="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="1">Reference <span style="color: red;"> *</span></label>
            <input type="text" pInputText id="1" placeholder="Reference"
                   [(ngModel)]="selectedOrdonnance.reference" required autofocus>
        </div>

        <div class="field">
            <label for="2">Date d'ordonnance <span style="color: red;"> *</span></label>
            <p-calendar id="2" placeholder="Date d'ordonnance" [showIcon]="true" id="2"
                        [showButtonBar]="true" [(ngModel)]="selectedOrdonnance.dateOrdonnance"
                        dateFormat="{{dateFormat}}">
            </p-calendar>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="6">Consultation<span style="color: red;"> *</span></label>
                <p-dropdown [options]="consultations" [(ngModel)]="selectedOrdonnance.consultationVo"
                            id="6" [filter]="true" filterMatchMode="contains" [showClear]="true"
                            optionLabel="reference"
                            placeholder="Consultation">
                </p-dropdown>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-secondary"
                (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
    </ng-template>

</p-dialog>
