<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openCreatePrescription('prescription')"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton pRipple label="Recherche" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success mr-2 p-mb-2" (click)="this.findByCriteriaShow = !this.findByCriteriaShow">
                    </button>
                    <p-splitButton label="Export" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                </ng-template>
            </p-toolbar>

            <p-toolbar styleClass="mb-4" *ngIf="findByCriteriaShow">
                <div class="p-fluid p-formgrid grid">
                    <span class="field col-12 md:col-3">
                        <input class="p-mr-2" pInputText id="1" type="text" placeholder="Reference"  [(ngModel)]="searchPrescription.reference">
                    </span>

                    <span class="field col-12 md:col-3">
                        <p-dropdown [options]="medicaments" [(ngModel)]="searchPrescription.medicamentVo"
                                    id="3" [filter]="true" [showClear]="true"  placeholder="Medicament" optionLabel="libelle">
                        </p-dropdown>
                    </span>

                    <span class="field col-12 md:col-3">
                        <p-dropdown [options]="ordonnances" [(ngModel)]="searchPrescription.ordonnanceVo" id="4"
                                    [filter]="true" [showClear]="true"  placeholder="Ordonnance" optionLabel="reference">
                        </p-dropdown>
                    </span>
                </div>

                <div class="field col-12 md:col-3">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-help" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>

            <p-table #dt [value]="prescriptions" [columns]="cols" [rows]="4" [paginator]="true"
                     [globalFilterFields]="['reference', 'reference', 'codeMedicament', 'nbreFois', 'qteMedicament', 'formeMedicament', 'reference', 'archive', 'dateArchivage', 'dateCreation']" [(selection)]="selectedPrescription"
                     [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [showCurrentPageReport]="false">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Liste Des Prescriptions</h5>
                        <span class="p-input-icon-right block">
                            <input type="text" pInputText placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')">
                            <i class="pi pi-search"></i>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                        <th pSortableColumn="reference">Reference<p-sortIcon field="reference"></p-sortIcon></th>
                        <th pSortableColumn="medicament">Medicament<p-sortIcon field="medicament"></p-sortIcon></th>
                        <th pSortableColumn="qteMedicament">Quantite Medicament<p-sortIcon field="qteMedicament"></p-sortIcon></th>
                        <th pSortableColumn="nbreFois">Nombre de fois<p-sortIcon field="nbreFois"></p-sortIcon></th>
                        <th pSortableColumn="ordonnance">Ordonnance<p-sortIcon field="ordonnance"></p-sortIcon></th>
                        <th>Actions</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-prescription>
                    <tr>
                        <td><p-tableCheckbox [value]="prescription"></p-tableCheckbox></td>
                        <td style="width:14%; min-width:10rem;">{{prescription.reference}}</td>
                        <td style="width:14%; min-width:13rem;">{{prescription.medicamentVo?.libelle}}</td>
                        <td style="width:14%; min-width:15rem;">{{prescription.qteMedicament}}</td>
                        <td style="width:14%; min-width:13rem;">{{prescription.nbreFois}}</td>
                        <td style="width:14%; min-width:13rem;">{{prescription.ordonnancesVo?.reference}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPrescription(prescription)"></button>
                                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-secondary mr-2" (click)="viewPrescription(prescription)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deletePrescription(prescription)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">En totale il {{prescriptions ? prescriptions.length == 1 ?
                        'y a' : 'y a' : 'y a' }} {{prescriptions ? prescriptions.length : 0 }} {{prescriptions ?
                        prescriptions.length == 1 ? 'prescription' : 'prescriptions' : 0 }}.
                    </div>
                </ng-template>

            </p-table>
        </div>

        <app-prescription-create></app-prescription-create>
        <app-prescription-edit></app-prescription-edit>
        <app-prescription-view></app-prescription-view>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

    </div>
</div>
