<p-dialog [(visible)]="editTypeConsultationDialog" [style]="{width: '450px'}" header="Ajouter un paiement" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="1">Code <span style="color: red;"> *</span></label>
            <input type="text" pInputText id="1" placeholder="Code" [(ngModel)]="selectedTypeConsultation.code" required autofocus>
        </div>

        <div class="field">
            <label for="2">Libelle <span style="color: red;"> *</span></label>
            <input type="text" pInputText id="2" placeholder="Libelle" [(ngModel)]="selectedTypeConsultation.libelle">
        </div>

        <div class="field">
            <label for="3">Tarif <span style="color: red;"> *</span></label>
            <p-inputNumber class="p-mb-2 p-mr-2" id="3" placeholder="Tarif" [(ngModel)]="selectedTypeConsultation.tarif" [showButtons]="true" [min]="0">
            </p-inputNumber>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-secondary" (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
    </ng-template>
</p-dialog>
