<p-dialog [(visible)]="createMedicamentDialog" [style]="{width: '450px', height: '800px'}" header="Add Rendez-vous" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="2">Libelle <span style="color: red;"> *</span></label>
            <input type="text" pInputText id="2" [(ngModel)]="selectedMedicament.libelle" required autofocus [ngClass]="{'ng-invalid ng-dirty' : !validMedicamentLibelle}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedMedicament.codeMedicament">Libelle is required.</small>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-10">
                <label for="2" class="field col-12">Patient<span style="color: red;"> *</span></label>
                <p-dropdown [options]="categorieMedicaments" [(ngModel)]="selectedMedicament.categorieMedicamentVo"
                            id="3" [filter]="true" filterMatchMode="contains"
                            [showClear]="true"
                            optionLabel="libelle"
                            placeholder="Categorie Medicament">
                </p-dropdown>
            </div>
            <div class="field col-12 md:col-2">
                <button pButton pRipple type="button" class="mr-2 mb-2 mt-6"
                        icon="pi pi-plus" (click)="openCreatecategorieMedicament('categorieMedicament')"></button>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-secondary" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>

    <app-categorie-medicament-create></app-categorie-medicament-create>

</p-dialog>
